

/* Supprime les marges et les rembourrages ajoutés par défaut */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

/* ---------------------------------------- */
/*              CONTAINER        */
/*---------------------------------------- */
.container{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;

}
.row {
    display: flex;
}
.col-left{
    width: 33.3333%;
}
.col-right{
    width: 66.6666%;
}

/* ---------------------------------------- */
/*            COLONNE GAUCHE               */
/*---------------------------------------- */

/* .col-left{
    background-color: #e8dfcf;
    
} */
.col-left {
    width: 50%;
    padding: 20px;
    background-color: #E8DFCF;
    border-radius: 10px;
}
.contact, .about-me, .hobbies {
    margin-bottom: 30px;
}

.education-left h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
/* ---------------------------------------- */
/*              HEADER LEFT              */
/*---------------------------------------- */

.photo{ 
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.photo img{
    width: 70%;
    border-radius: 50%;
    border: 5px solid white;
}
/* .photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
} */

/*     TITRES GAUCHE  */


.col-left h3{
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    /* background-color: #404040; */
    padding: 5px;
    color: #404040;
    /* text-align: center; */
}

.title-left{
    margin-bottom: 30px;

}
.langues-left{
    margin-bottom: 30px;
}
.title-left ul{
    text-align: center;
    margin: 0 auto;
    /* margin-top: 25px; */
    /* margin-left: 15px; */
    font-size: 1.1em;
    font-style: normal;
}
.langues-left li{
    margin: 5px;
}
.langues-left i{
    color: white;
    text-shadow: 0 0 3px #404040;
}
/*     ADRESSE  */
/* CSS */
.nounderline {
    text-decoration: none; /* Pour enlever le soulignement */
    color: inherit; /* Pour hériter la couleur du texte parent */
}

.title-left ul{
    text-align: center;
    margin: 0 auto;
    /* margin-top: 25px; */
    /* margin-left: 15px; */
    font-size: 1.1em;
    font-style: normal;
}
.title-left li{
    margin: 5px;
}
.title-left i{
    color: white;
    text-shadow: 0 0 3px #404040;
}

/*   la taille de l'article  A PROPOS DE MOI  */
.about-me{
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    /* margin-bottom: 300px; */
}
/*   les propriétés du contenu du paragraphe a propos de moi  */
.about-me p{
    margin-top: 5px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    font-size: 3px;
    /* text-align: justify; */
    /* padding: 15px; */
    /* font-weight: 400; */
    /* line-height: 1.5; */
}
/*  la position des icons  dans LOISIRS  */
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.hobbies li{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #404040;
    position: relative;
}
/*  padding et size des icons  dans LOISIRS  */
.ico{
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute
}
/***formation left*/
.color-left{
    color: #404040;
    font-size: 6px;
}


.contact h3, .about-me h3, .hobbies h3 ,  .langues-left h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.address {
    margin-bottom: 20px;
}

.address p {
    margin-bottom: 10px;
}

.about-me p {
    font-size: 0.9em;
    line-height: 1.6;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 24px;
    color: #555;
    margin-right: 10px;
}
.col-time-left{
    width: 27%;

}
.dimensions-left{
    margin-right: 0.6em;
    font-size: 1em;
}
/* ---------------------------------------- */
/*      ==        HEADER RIGHT             */
/*---------------------------------------- */
.header-right{
 margin: 90px 40px;
}
/*       les marges de la section de la colonne droite   MARGIN RIGHT et PADDING            */
.education-left{
    margin: 10px 10px 10px 35px; 
} 
.reference-right, .experience-right{
    margin: 30px 40px 20px 40px;
}

/* l'espace et position des sections dans la colonne droite */
.row-right, .row-right-reference{
    display: flex;
    padding-bottom: 15px;
}
.row-right-formation{
    display: flex;
    padding-bottom: 5px;
}
/* size et colors pour le nom et profession */
.fullname{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 500;
}
/* change le couleur de ANNY*/
.fullname span{
    color: #e8dfcf;
}
/* taille de profession */
.profession{
    color: #404040;
    font-size: 1.7em;
    font-weight: 400;
}
/* souligne la profession */
.profession span{
    text-decoration: underline #e8dfcf;
}
/* propriétés pour les titres de la colonne droite */
.col-right h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 3px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e8dfcf;
    margin-bottom: 40px;
}
/* widht et padding pour la section date et description */
.col-time{
    width: 27%;
}
.col-description{
    width: 70%;
}
.col-description h4,h5,p{
    padding: 5px;
}
/* proprietés pour les icons */
.color{
    color: #e8dfcf;
}
.dimensions{
    margin-right: 0.6em;
    font-size: 1.3em;
}
.circle-regular, .circle-solid{
    margin-right: 3%;
    font-size: 0.8em;
}
/* proprietés pour les fonts de la colonne droite  */

.col-right h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}
.col-right h5{
    font-weight: lighter;
    font-size: 1.2em;
}
.col-right p{
    font-size: 1em;
}
/* pour les 2 recommendations, une a côté de l'autre  */
.col-recommendations{
    width: 50%;
}
.col-recommendations li{
    margin: 5px;
}

/* propriétés pour mobile */
@media only screen and (max-width: 667px){

    /* proprietés pour les 2 colonnes, la colonne de gauche au-dessus de la colonne de droite  */
    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .row {
        display: block;
    }
    .col-left{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* la taille des titres dans la colonne gauche*/
    .col-left h3{
        
        font-weight: 500;
    }
    .title-left{
        font-size: 0.9em;
        margin: 0px;
    }
    /* espace entre les li dans la colonne gauche*/
    .title-left li{
        margin: 5px 20px;
    }
    /* la taille de la photo*/
    .photo{
        width: 40%;
        margin: 15px auto;
    }
    /* la taille et le margin de la section a propos de moi*/
    .about-me{
        font-size: 0.9em;
        margin-top: 5px;
        margin-bottom: 50px;
    }
    address{
        text-align: center;
    } 
    /* ---------------------------------------- */
/*      ==        COLONNE DROITE            */
/*---------------------------------------- */
/* position de la colonne droite*/
    .col-right{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* margin et size por le nom et profession dans la colonne droite*/
    .header-right{
        margin: 10px 10px;
        font-size: 0.9em;
    }
    .fullname {
        font-size: 2.5em
    }
    /* diminuer le margin dans la section formation, expérience, recommandations */
    .experience-right, .reference-right{
        margin: 20px;
    }
    
    /* Diminuer l'espace entre les titres et section dans la colonne droite*/
    .col-right h3{
        font-size: 1.3em;
        padding-bottom: 3px;
        margin-bottom: 20px;
    }
    /* diminuer le size de la description dans la colonne droite*/
    .col-right h4{
        font-size: 1em;
    }
    .col-right h5{
        font-size: 1em;
    }
    .col-right p{
        font-size: 1em;
    }
}
 /*Proprietés pour une meilleure mise en forme des recommendations*/
@media only screen and (max-width: 480px){
     /*placer une colonne au-dessus de l'autre dans recommendations*/
    .row-right-reference{
        display: block;
        padding-bottom: 15px;
        width: 100%;
    }
    .col-recommendations{
        width: 100%;
        margin-bottom: 10%;
    } 
    /*Proprietés pour le size du titres*/
    .col-right h4{
        font-size: 0.9em;
    }
    .col-right h5{
        font-size: 0.9em;
    }
    .col-right p{
        font-size: 0.9em;
    }

    
}
/*propriétés pour tablette*/
@media only screen and (min-width:668px) and (max-width:990px){
   /* position du container*/
    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .row {
        display: block;
    }
    /* position de la colonne gauche*/
    .col-left{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* position de la colonne droite*/
    .col-right{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    /*propriétés pour la photo*/
    .photo{
            width: 30%;
    }
    /*sizes et margin colonne gauche*/
    .col-left h3{
        font-size: 1.5em;
    }
    .title-left{
        font-size: 0.9em;
    }
    address{
        text-align: center;
    } 
    .about-me{
        font-size: 0.9em;
        font-weight: 400;
        margin-bottom: 150px;
        text-align: center;
    }
   
    /*Colonne droite*/
    /*margin et size de nom et prenom*/
    .header-right{
        margin: 50px 40px;
    }
    .fullname{
        font-size: 2em;
    }
    .profession{
        font-size: 1.3em;
    }
    /*Le size pour le contenu de la colonne droite*/
    .col-right h3{
        font-size: 1.3em;
    }
    .col-right h4{
        font-size: 1em;
    }
    .col-right h5{
        font-size: 1em;
    }
    .col-right p{
        font-size: 1em;
    }

}

